<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'producción'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
<div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'comunicación'"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
<div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'trabajo en equipo'"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
<div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'redacción'"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
<div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="25"
        [radius]="100"
        [title]="'github'"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
<div class="text-center col-sm-4 col-md-4 col-lg-4"></div>
    <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'docencia'"
        [showUnits]="false"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#53a9ff'"
        [animation]="true"
        [animationDuration]="300"
        [showSubtitle]="false"
        [lazy]="true"
    ></circle-progress>
</div>
