<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11>">
<ul>
    <li><h1>Operadora especializada en violencias</h1>-<h3>actualidad</h3></li>
    <p>Me desempeño como operadora en la línea 144 PBA, dependiente del Ministerio de las mujeres, políticas de género y diversidad sexual PBA,
    en donde soy constantemente formada en atención a violencias por razones de género. Allí se ponen en juego mis habilidades de trabajo en equipo, oralidad, redacción e investigación.
    </p>
</ul>
<ul>
    <li><h1>Profesora suplente</h1>-<h3>2021</h3></li>
    <p>Durante el año 2021 me desempeñé en el colegio CENIT de La Plata dando clases en la materia Comunicación, cultura y sociedad de 5to año de secundaria.
        Allí se pusieron en juego mis habilidades de planificación y creatividad.
    </p>
</ul>
<ul>
    <li><h1>Ayudantía universitaria</h1>-<h3>2018 a 2022</h3></li>
    <p>Como adscripta a la cátedra de Lecturas y escrituras 2 estuve encargada de corregir textos y acompañar trayectorias educativas de estudiantes de 2do año universitario.</p>
</ul>
<ul>
    <li><h1>Producción radial</h1>-<h3>2019-2020</h3></li>
    <p>Como productora general radial de Coronadas de gloria era encargada de gestionar entrevistas, planificar los tiempos de duración de cada segmento dentro del programa, la producción al aire y la puesta en marcha de la lista musical. 
        Allí se pusieron en juego mis habilidades creativas, de trabajo colaborativo en equipo, de investigación y gestión.
    </p>
</ul>
    </div>
</div>
