<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/46632162_10217368184861900_7189718216338309120_n.jpg" class="img-fluid" id="foto de perfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Giacobone Lucía</p>
<p id="profesión">Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
    <p id="acercaDeMi">Acerca de mí</p>
<p id="cuerpoAcercaDeMi">Soy estudiante avanzada de la carrera de comunicación social en la UNLP. 
    Me encuentro en proceso de realización de TIF y a pocas materias del título docente.
    Tengo un perfil orientado a la redacción, lo visual y lo creativo desde una perspectiva de género. </p>
</span>
</div>
</div>
